body {
    background-color: #F8F6F2 !important  ;
    
}

#main-section{
    background-color: white;
    padding: 1rem;
}
.main-info{
    font-weight:600;
    text-align: center;
    font-size: 1.5rem;
}


#your-app{
    margin-top: 2rem;
    background-color: white;
    padding: 4rem 0;
}

.form-check-input{
    font-size: 1.5rem;
}
.form-check-label{
    font-size:1.5rem;
}



.overlay {
    position: relative;
  }
  
  .overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4fc9da;
    opacity: .5;
  }
  

